@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/pt-sans-v17-latin_cyrillic-regular.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/pt-sans-v17-latin_cyrillic-italic.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/pt-sans-v17-latin_cyrillic-700.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/fira-sans-v16-latin_cyrillic-700.woff2) format(woff2);
    font-display: swap;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #293449;
    background-color: #FFFFFF;
}

/* Header */

.page-header {
    background-color: #F3F7F9;
}

/* Header-contacts */

.header-contacts-shop {
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    color: #EE3643;
}

.header-contacts-address {
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #32425C;
}

.header-contacts-phone {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #293449;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Header-search */

.header-search-field {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #293449;
}

/* Header-log-in */

.header-button-log-in {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #F1F5F7;
    background-color: #293449;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Navigation */

.navigation-link {
    color: #FFFFFF;
    background-color: #3D546F;
    text-decoration: none;
    text-align: center;
}

.navigation-order {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    background-color: #63A63E;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Main */

/* Promo */

.promo-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.promo-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.promo-yellow,
.promo-yellow .promo-link {
    background-color: #FFBF47;
}

.promo-blue,
.promo-blue .promo-link {
    background-color: #3BBCE3;
}

.promo-purple,
.promo-purple .promo-link {
    background-color: #DC91D8;
}

.promo-green,
.promo-green .promo-link {
    background-color: #8ED78F;
}

/* Slider */

.promo-slider-one {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url(../images/main/slider-drills.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.promo-slider-two {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url(../images/main/slider-punchers.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.slider-title {
    font-family: "Fira Sans", sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

.slider-slogan {
    font-weight: 700;
    font-size: 18px;
}

.slider-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #EE3643;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Catalog */

.catalog-title {
    font-family: "Fira Sans", sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

/* Catalog-filter */

.catalog-filter-group {
    color: #000000;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.filter-control {
    font-size: 14px;
    line-height: 18px;
}

.catalog-filter-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #32425C;
    background-color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.catalog-filter-select {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #293449;
    background-color: #FFFFFF;
}

/* Product-cards */

.product-card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.price {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product-card-old-price {
    color: #A9A9A9;
}

.product-card-new-price {
    color: #FFFFFF;
    background-color: #EE3643;
}

/* Pagination */

.pagination-link {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	background-color: #3D546F;
	text-decoration: none;
	text-align: center;
    text-transform: uppercase;
}

.pagination-link-current {
    color: #3D546F;
	background-color: #FFFFFF;
}

.pagination-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #EE3643;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Sevices */

.services {
    background-color: #F3F7F9;
}

.services-title {
    font-family: "Fira Sans", sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.services-description {
    font-size: 18px;
    text-align: center;
}

.services-item {
    background-color: #FFFFFF;
}

.services-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #32425C;
    text-transform: uppercase;
}

.services-text {
    color: #000000;
}
